<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SentimentRequest</servlet-name>
        <servlet-class>appengine.SentimentRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SentimentProcessorTask</servlet-name>
        <servlet-class>appengine.SentimentProcessorTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SentimentRequest</servlet-name>
        <url-pattern>/SentimentRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SentimentProcessorTask</servlet-name>
        <url-pattern>/SentimentProcessorTask</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>SentimentAnalysis.jsp</welcome-file>
    </welcome-file-list>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>tasks</web-resource-name>
            <url-pattern>/src/main/java/appengine/SentimentProcessorTask</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
