data/
sentiment_project/bin/
sentiment_project/doc/


*~
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.eps
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdos
/sentiment/target/
/task1/target/